{% extends 'layout/app.html' %}
{% block stylesheet %}
<style>
</style>
{% endblock %}
{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Ajax Crud</li>
            </ol>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Ajax Crud
                </div>
                <div class="card-body">
                    <form class="form-horizontal" id="example-form" action="ajax" method="POST">
                        {% csrf_token %}
                         <div class="form-group">
                             <div class="form-row">
                                 <div class="col-md-6">
                                     <div class="form-label-group">
                                         <input class="form-control" type="text" id="example-text-input" placeholder="Text" required>
                                         <label for="example-text-input">task</label>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-label-group">
                                        <select class="form-control" id="status" name="status" required>
                                            <option disabled selected value> -- select an option -- </option>
                                            <option value="OPEN">Abierto</option>
                                            <option value="CLOSED">Cerrado</option>
                                            <option value="IN_PROCESS">En Proceso</option>
                                          </select>
                                    </div>
                                </div>
                             </div>
                         </div>
                     
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Ajax List
                </div>
                <div class="table">
                    <table class="table table-bordered" id="myTable">
                        <thead>
                        <tr>
                            <th>tareas</th>
                            <th>estado</th>
                            <th>comentario</th>
                            <th>action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for ajax in ajax_list %}
                            <tr id="table-{{ ajax.id }}">
                                <td>{{ ajax.task_name }}</td>
                                <td>{{ ajax.status }}</td>
                                
   <!-- Button trigger modal -->

                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Comentar
                                  </button></td>
                                <td><a class="btn btn-sm btn-warning" href="{% url 'update' ajax.id%}" data-id="{{ ajax.id }}"><span class="fa fa-edit"></span> Edit</a>
                                    <a class="btn btn-sm btn-danger delete" data-id="{{ ajax.id }}"><span
                                            class="fa fa-trash"></span> Delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table">
                <table class="table table-bordered" id="myTable2">
                    <thead>
                    <tr>
                        <th>tareas</th>
                        <th>comentario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ajax in ajax_list %}
                        <tr id="table-{{ ajax.id }}">
                            <td id="nom_task">{{ ajax.task_name }}</td>
                        {% for ajax in comment_list %}
                            <td>{{ ajax.comment }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="modal-footer">
        <form class="form-horizontal" id="form_comentary" action="ajax" method="POST">
          <button type="submit" name="guardar" id="guardar" class="btn btn-primary">Save changes</button>
          <button type="button" name="add" id="add" class="btn btn-success">Agregar Más</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function(){
        var i=1;
        $('#add').click(function(){
            var nos =  $('#nom_task').val();
            console.log(nos);
        i++;
        $('#myTable2').append('<tr id="row'+i+'"><td><input type="text" name="comment" id="comment" placeholder="Ingrese su comentario" class="form-control name_list" /></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td></tr>');
    })
});

$(document).on('click', '.btn_remove', function(){
var button_id = $(this).attr("id"); 
$('#row'+button_id+'').remove();
});

    $(document).ready(function() {
        $('#example-form').submit(function(event) {
            var task_name = $('#example-text-input').val();
            var status = $('#status').val();
            $.ajax({
                type : 'POST',
                url  : 'ajax',
                data :{
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'task_name': task_name,
                    'status': status,
                },
                dataType : 'json',
                encode   : true
            })
            .done(function(data) {
                $("#example-form").trigger("reset");
                $.get('getajax', function(response){

                })
                .done(function(datas) {
                    $("#myTable > tbody").prepend("<tr id='table-" +datas.id+ "'>\n\
                            <td>"+ datas.task_name +"</td><td>"+ datas.status +"</td>\n\
                            <td><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModal'>Comentar</button></td>\n\
                            <td><a class='btn btn-sm btn-warning'><span class='fa fa-edit'></span>Edit</a>\n\
                            <a class='btn btn-sm btn-danger delete' data-id='"+ datas.id + "'><span class='fa fa-trash'></span> Delete</a> </td></tr>");
                })
                .fail(function() {
                    $("#fails" ).show();
                })
            });

            event.preventDefault();
        });

        
        
        $(document).on('click','.delete',function(event) {
            console.log('deleted');
            var id = $(this).attr("data-id");
            $.get('delete', {id:id}, function(response){
                var tabrow = '#table-'+id;
                $(tabrow).remove();
            });
        });
    });


    $(document).ready(function() {
        $('#form_comentary').submit(function(event) {
            var task_name = '23';
            var comment = $('#comment').val();
            $.ajax({
                type : 'POST',
                url  : 'comenta',
                data :{
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'task_name': task_name,
                    'comment': comment,
                },
                dataType : 'json',
                encode   : true
            })
            .done(function(data) {
                $("#example-form").trigger("reset");
                $.get('getajax', function(response){

                })
                .done(function(datas) {
                    $("#myTable > tbody").prepend("<tr id='table-" +datas.id+ "'>\n\
                            <td>"+ datas.task_name +"</td><td>"+ datas.comment +"</td>\n\
                            <td><button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModal'>Comentar</button></td>\n\
                            <td><a class='btn btn-sm btn-warning'><span class='fa fa-edit'></span>Edit</a>\n\
                            <a class='btn btn-sm btn-danger delete' data-id='"+ datas.id + "'><span class='fa fa-trash'></span> Delete</a> </td></tr>");
                })
                .fail(function() {
                    $("#fails" ).show();
                })
            });

            event.preventDefault();
        });
    });
        
        $(document).on('click','.delete',function(event) {
            console.log('deleted');
            var id = $(this).attr("data-id");
            $.get('delete', {id:id}, function(response){
                var tabrow = '#table-'+id;
                $(tabrow).remove();
            });
        });
    
  </script>
{% endblock %}