{% extends 'layout/app.html' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Task Update</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Update</button>
            <a class="btn btn-danger" href="{% url 'ajax'%}">Cancel</a>
        </form>
    </div>
</div>      
{% endblock %}